@import 'sass-rem';

.layer_title {
  display: flex;
  align-items: center;
  margin: rem-convert(40px auto 20px);
  h2 {
    font-size: rem-convert(24px);
    line-height: rem-convert(28.8px);
    font-weight: 700;
  }
}

.business_idea {
  margin-bottom: rem-convert(40px);
  padding: rem-convert(20px 24px);
  border-radius: rem-convert(10px);
}

.btn_edit {
  margin-bottom: 24px;
  justify-content: center;
}

.category {
  .item_buton {
    height: 100%;
    border-radius: rem-convert(10px);
    padding: rem-convert(16px 20px);
    gap: rem-convert(15px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    p {
      font-weight: 600;
    }
  }
}
