@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';
@import 'sass-rem';

.loading_normal {
  color: $blue-900 !important;
}

.loading_standard {
  color: $border-grey !important;
  position: absolute;
  top: calc(50% - rem-convert(10px));
  left: calc(50% - rem-convert(10px));
  transform: translate(-50%, -50%);
  z-index: 1001;
}

.wrapper-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  pointer-events: none;
}
