@import 'sass-rem';

.step_content {
  .btn_wrapper {
    margin-top: rem-convert(60px);
    gap: rem-convert(20px);
    justify-content: center;

    button {
      max-width: rem-convert(160px);
    }
  }
}
