@import 'sass-rem';

.partners1 {
  position: 'absolute';
  top: 0;
  left: 0;
}

.partners2 {
  position: 'absolute';

  top: 0;
  right: 0;
}

.partners3 {
  position: 'absolute';

  bottom: 0;
  left: 0;
}

.partners4 {
  position: 'absolute';

  bottom: 0;
  right: 0;
}
