@import 'sass-rem';

.toolbar {
  width: 100%;
  flex-shrink: 0;
  height: rem-convert(44px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: rem-convert(8px);
  padding: rem-convert(8px);
  border-radius: rem-convert(10px);

  &_item {
    position: relative;
    display: flex;
    gap: 2px;
    padding: rem-convert(4px);

    > button,
    > label {
      padding: 0;
      width: rem-convert(28px);
      height: rem-convert(28px);
    }

    input[type='file'] {
      display: none;
    }
  }
}
